<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>View Post</title>
</head>
<body>
    <h1>Post Details</h1>
    <div class="message">
        <p><%= message.message %> </p>
        <p>- <%= message.username %> on <%= format(new Date(message.date), 'dd MMM y') %></p>
    </div>
    <a href="/"><button >Return to home</button></a>
</body>
</html>
